*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 2.6rem;
  background-color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

nav {
  text-transform: uppercase;
  font-family: "Cormorant Garamond", sans-serif;
  background-color: #000000;
  z-index: 100;
}
nav .collapse {
  align-items: center;
}
nav .navbar-toggler {
  color: #ffffff;
  transform: translateY(5px);
}
nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  width: 32px;
  height: 32px;
}
nav .navbar-brand-img {
  font-size: 4rem;
  color: #ffffff;
  max-width: 205px;
  max-height: 110px;
}
nav .nav-link {
  color: #ffffff;
  text-align: center;
}
nav .nav-link:hover {
  color: #ffffff;
}
nav .nav-link:focus {
  color: #ffffff;
}
nav .nav-item {
  position: relative;
  font-size: 2rem;
  padding: 15px 20px 0px 20px;
}
nav .nav-item, nav .nav-item::after, nav .nav-item::before {
  transition: 0.4s;
}
nav .nav-img {
  transition: 0.3s;
  background-image: url(../img/login.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0.7em;
}
nav .nav-img:hover {
  background-image: url(../img/login2.png);
}
nav .nav-button:hover {
  animation: heartbeat 2s ease-in-out infinite both;
}
nav .nav-button {
  position: relative;
  background: none;
  border: none;
  font-size: 2rem;
  padding: 3.4em 5em 1em 5em;
}
nav .nav-cta {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}
nav .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  transform: scaleX(0);
  background-color: #ffffff;
}
nav .nav-item:hover::after {
  transform: scaleX(1);
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

main {
  color: #ffffff;
  flex: 1;
}
main .login {
  background-image: url("../img/loginsmalbackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 0;
}
main .login-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
main .login .form-container {
  background-color: #000000;
  border: 2px solid #ddd;
  border-radius: 15px;
  padding: 25px;
  font-size: 1.6rem;
}
main .login .form-title {
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
main .login .form-element {
  width: 100%;
}
main .login input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;
  font-size: 16px;
}
main .login input:focus {
  outline: none !important;
  border-color: #000000;
  box-shadow: 0 0 10px #000000;
}
main .login button {
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 2px;
  background-color: #ffffff;
  font-size: 2rem;
  color: #000000;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
}
main .login p {
  margin-top: 15px;
}
main .login-link {
  text-decoration: none;
}
main .register {
  background-image: url("../img/registersmallbackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 0;
}
main .register-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
main .register .form-container {
  background-color: #000000;
  border: 2px solid #ddd;
  border-radius: 15px;
  padding: 25px;
  font-size: 1.6rem;
}
main .register .form-title {
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
main .register .form-element {
  width: 100%;
}
main .register input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;
  font-size: 16px;
}
main .register input:focus {
  outline: none !important;
  border-color: #000000;
  box-shadow: 0 0 10px #000000;
}
main .register button {
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 2px;
  background-color: #ffffff;
  font-size: 2rem;
  color: #000000;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
}
main .register p {
  margin-top: 15px;
}
main .register-link {
  text-decoration: none;
}

footer {
  background-color: #000000;
  color: #ffffff;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 1.6rem;
  background-image: url("../img/footer.gif");
  bottom: 0;
  width: 100%;
  z-index: 100;
}
footer .footer-link {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
footer .footer-link:hover {
  color: #909090;
}
footer .footer-link:focus {
  color: #ffffff;
}

@media (min-width: 320px) {
  nav .navbar-toggler {
    margin-right: 2em;
  }
  nav .nav-button {
    padding: 3.4em 6em 1em 6em;
  }
}
@media (min-width: 360px) {
  nav .navbar-brand-img {
    max-width: 270px;
    max-height: 110px;
  }
  nav .navbar-toggler {
    margin-right: 1em;
  }
  nav .nav-button {
    padding: 3.4em 7em 1em 7em;
  }
}
@media (min-width: 375px) {
  nav .navbar-brand-img {
    max-width: 280px;
    max-height: 110px;
  }
  nav .navbar-toggler {
    margin-right: 1.2em;
  }
  nav .nav-button {
    padding: 3.4em 7.5em 1em 7.5em;
  }
}
@media (min-width: 411px) {
  nav .navbar-toggler {
    margin-right: 2.2em;
  }
  nav .navbar-toggler-icon {
    width: 40px;
    height: 40px;
  }
  nav .nav-button {
    padding: 3.4em 8.5em 1em 8.5em;
  }
}
@media (min-width: 540px) {
  nav .navbar-toggler {
    margin-right: 5em;
  }
  nav .navbar-toggler-icon {
    width: 45px;
    height: 45px;
  }
  nav .nav-button {
    padding: 3.4em 11.5em 1em 11.5em;
  }
}
@media (min-width: 768px) {
  nav .navbar-toggler {
    margin-right: 5em;
  }
  nav .navbar-toggler-icon {
    width: 52px;
    height: 52px;
  }
  nav .nav-button {
    padding: 3.4em 17.2em 1em 17.2em;
  }
  main .login .form-container {
    padding: 50px;
  }
  main .login .form-title {
    padding-bottom: 20px;
  }
  main .login .form-element {
    width: 350px;
  }
  main .login {
    background-image: url("../img/loginbackground.jpg");
  }
  main .register .form-container {
    padding: 50px;
  }
  main .register .form-title {
    padding-bottom: 20px;
  }
  main .register .form-element {
    width: 350px;
  }
  main .register {
    background-image: url("../img/registermediumbackground.png");
  }
}
@media (min-width: 992px) {
  nav .navbar-toggler {
    margin-right: 5em;
  }
  nav .navbar-toggler-icon {
    width: 55px;
    height: 55px;
  }
  nav .nav-button {
    padding: 3.4em 23em 1em 23em;
  }
}
@media (min-width: 1200px) {
  nav .nav-button {
    font-size: 2.2rem;
    padding: 2.5em 5em 0.7em 5em;
  }
  nav .nav-img {
    margin: 0;
  }
  nav .nav-item {
    font-size: 1.6rem;
  }
  main .register {
    background-image: url("../img/registerlargebackground.png");
  }
}/*# sourceMappingURL=main.css.map */