@use "utilities" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Rubik", sans-serif;
	// font-family: "Cormorant Garamond", sans-serif;
	font-size: 2.6rem;
	background-color: #333;
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}
nav {
	text-transform: uppercase;
	font-family: "Cormorant Garamond", sans-serif;
	background-color: $nav-main-color;
	z-index: 100;
	.collapse {
		align-items: center;
	}
	.navbar {
		&-toggler {
			color: $nav-secondary-color;
			transform: translateY(5px);
			&-icon {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
				width: 32px;
				height: 32px;
			}
		}
		&-brand-img {
			font-size: 4rem;
			color: $text-color;
			max-width: 205px;
			max-height: 110px;
		}
	}
	.aw {
		background-image: url(../img/login.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		padding: 1em 0em;
		margin-top: 0.7em;
	}
	.nav {
		&-link {
			color: $text-color;
			text-align: center;
		}
		&-link:hover {
			color: $text-color;
		}
		&-link:focus {
			color: $text-color;
		}
		&-item {
			position: relative;
			font-size: 2rem;
			padding: 15px 20px 0px 20px;
			&-profile {
				font-size: 2rem;
				color: $text-color;
				.nav-link.show {
					color: $text-color;
				}
				.nav-link:hover,
				.nav-link:focus,
				.nav-link:active {
					color: $text-color;
				}
				.dropdown-menu {
					background-color: $nav-secondary-color;
				}
				.dropdown-item {
					color: $text-alt-color;
					text-align: center;
					font-size: 1.6rem;
				}
			}
		}
		&-item,
		&-item::after,
		&-item::before {
			transition: 0.4s;
		}
		&-img {
			transition: 0.3s;
			background-image: url(../img/login.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			margin-top: 0.7em;
		}
		&-img:hover {
			background-image: url(../img/login2.png);
		}
		&-button:hover {
			animation: heartbeat 2s ease-in-out infinite both;
		}
		&-button {
			position: relative;
			background: none;
			border: none;
			font-size: 2rem;
			padding: 3.4em 5em 1em 5em;
		}
		&-cta {
			text-transform: uppercase;
			text-decoration: none;
			font-weight: bold;
			color: $text-alt-color;
		}
	}
	.nav-item::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 100%;
		transform: scaleX(0);
		background-color: $nav-secondary-color;
	}
	.nav-item:hover::after {
		transform: scaleX(1);
	}

	@keyframes heartbeat {
		from {
			transform: scale(1);
			transform-origin: center center;
			animation-timing-function: ease-out;
		}
		10% {
			transform: scale(0.91);
			animation-timing-function: ease-in;
		}
		17% {
			transform: scale(0.98);
			animation-timing-function: ease-out;
		}
		33% {
			transform: scale(0.87);
			animation-timing-function: ease-in;
		}
		45% {
			transform: scale(1);
			animation-timing-function: ease-out;
		}
	}
}

main {
	color: $text-color;
	flex: 1;

	.form {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		z-index: 0;
		position: relative;

		.shadow {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: -1;
		}
		button {
			width: 100%;
			margin: 15px 0px 10px 0px;
			padding: 2px;
			background-color: $secondary-color;
			font-size: 2rem;
			color: $main-color;
			border-radius: 15px;
			border: 0;
			cursor: pointer;
		}
		input[type="text"],
		input[type="password"],
		input[type="email"] {
			width: 100%;
			padding: 10px;
			margin: 10px 0px 0px 0px;
			border: 1px solid $main-color;
			border-radius: 5px;
			color: $text-alt-color;
			font-size: 16px;
		}
		input[type="checkbox"] {
			margin-top: 15px;
			height: 18px;
			width: 18px;
			display: inline;
		}
		input:focus {
			outline: none !important;
			border-color: $main-color;
			box-shadow: 0 0 10px $main-color;
		}
		.form-container {
			background-color: $main-color;
			border: 2px solid #ddd;
			border-radius: 15px;
			padding: 25px;
			font-size: 1.6rem;
		}
		.form-title {
			font-size: 2.8rem;
			font-weight: bold;
			text-transform: uppercase;
		}
		.form-element {
			width: 100%;
		}
		.link {
			text-decoration: none;
		}
		.information {
			display: inline;
		}
		p {
			margin-top: 15px;
		}
		.notification {
			color: red;
		}
	}

	.login {
		background-image: url("../img/loginsmalbackground.jpg");
	}

	.register {
		background-image: url("../img/registersmallbackground.png");

		.form-container {
			margin: 0px 10px 0px 10px;
		}
		button {
			margin-top: 20px;
		}
	}

	.faq {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("../img/faqbackground.jpg");
		width: 100%;
		z-index: 0;
		position: relative;

		.shadow {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: -1;
		}

		p {
			color: $text-alt-color;
			font-size: 1rem;
			margin-top: 1em;
			margin-left: 0.5em;
			margin-right: 0.5em;
		}
		.m {
			margin-top: 6em;
		}
		.ttext {
			text-align: center;
			font-family: "Cormorant Garamond", sans-serif;
			font-size: 3rem;
			margin-top: 2em;
			color: $text-alt-color;
		}
		.qtext {
			text-align: center;
			font-family: "Cormorant Garamond", sans-serif;
			font-size: 2rem;
			margin-top: 3.5em;
			color: $text-alt-color;
		}
		.ftext {
			font-family: "Lovers Quarrel", sans-serif;
			text-align: right;
			font-size: 1.4rem;
			margin-top: 10em;
			margin-right: 1em;
			color: $text-alt-color;
		}

		.page:nth-child(even) {
			clear: both;
		}

		.book {
			transition: opacity 0.4s 0.2s;
			perspective: 250vw;

			.pages {
				width: 25rem;
				height: 30rem;
				position: relative;
				transform-style: preserve-3d;
				backface-visibility: hidden;
				border-radius: 4px;
			}

			.page {
				overflow: hidden;
				float: none;
				clear: none;
				margin: 0;
				position: absolute;
				top: 0;
				width: 12.5rem;
				height: 30rem;
				transform-origin: 0 0;
				transition: transform 1.4s;
				backface-visibility: hidden;
				transform-style: preserve-3d;
				cursor: pointer;
				user-select: none;
				background-color: $secondary-color;
			}
			.page:before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(0, 0, 0, 0);
				transition: background 0.7s;
				z-index: 2;
			}
			.page:nth-child(odd) {
				pointer-events: all;
				transform: rotateY(0deg);
				right: 0;
				border-radius: 0 4px 4px 0;
				background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 10%);
			}
			.page:nth-child(odd):hover {
				transform: rotateY(-15deg);
			}
			.page:nth-child(odd):hover:before {
				background: rgba(0, 0, 0, 0.03);
			}
			.page:nth-child(even) {
				pointer-events: none;
				transform: rotateY(180deg);
				transform-origin: 100% 0;
				left: 0;
				border-radius: 4px 0 0 4px;
				border-color: black;
				background-image: linear-gradient(to left, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0) 10%);
			}
			.page:nth-child(even):before {
				background: rgba(0, 0, 0, 0.2);
			}
			.page.grabbing {
				transition: none;
			}
			.page.flipped:nth-child(odd) {
				pointer-events: none;
				transform: rotateY(-180deg);
			}
			.page.flipped:nth-child(odd):before {
				background: rgba(0, 0, 0, 0.2);
			}
			.page.flipped:nth-child(even) {
				pointer-events: all;
				transform: rotateY(0deg);
			}
			.page.flipped:nth-child(even):hover {
				transform: rotateY(15deg);
			}
			.page.flipped:nth-child(even):hover:before {
				background: rgba(0, 0, 0, 0.03);
			}
			.page.flipped:nth-child(even):before {
				background: rgba(0, 0, 0, 0);
			}
			.page.flipped:nth-child(even):before {
				background: rgba(0, 0, 0, 0);
			}
		}

		.page:nth-child(odd) {
			background-position: right top;
		}
	}

	.home {
		// background-image: url("../img/home.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		z-index: 0;
		position: relative;
	}
}

footer {
	background-color: $footer-main-color;
	color: $text-color;
	font-family: "Cormorant Garamond", sans-serif;
	font-size: 1.6rem;
	background-image: url("../img/footer.gif");
	bottom: 0;
	width: 100%;
	z-index: 100;

	.footer-link {
		text-decoration: none;
		color: $text-color;
		transition: 0.3s;
	}
	.footer-link:hover {
		color: $text-hover-color;
	}
	.footer-link:focus {
		color: $text-color;
	}
}

@media (min-width: 320px) {
	nav .navbar-toggler {
		margin-right: 2em;
	}
	nav .nav-button {
		padding: 3.4em 6em 1em 6em;
	}
	main .register .form-element {
		width: 265px;
	}
	main {
		.faq {
			p {
				font-size: 1.1rem;
			}
			.book {
				.pages {
					width: 30rem;
					height: 30rem;
				}
				.page {
					width: 15rem;
					height: 30rem;
				}
			}
		}
	}
}

@media (min-width: 360px) {
	nav .navbar-brand-img {
		max-width: 270px;
		max-height: 110px;
	}
	nav .navbar-toggler {
		margin-right: 1em;
	}
	nav .nav-button {
		padding: 3.4em 7em 1em 7em;
	}
	main {
		.faq {
			p {
				font-size: 1.1rem;
			}
			.ftext {
				font-size: 1.6rem;
				margin-top: 8.5em;
				margin-right: 1em;
			}
			.ttext {
				font-size: 4rem;
				margin-top: 1em;
			}
			.book {
				.pages {
					width: 30rem;
					height: 30rem;
				}
				.page {
					width: 15rem;
					height: 30rem;
				}
			}
		}
	}
}

@media (min-width: 375px) {
	nav .navbar-brand-img {
		max-width: 280px;
		max-height: 110px;
	}
	nav .navbar-toggler {
		margin-right: 1.2em;
	}
	nav .nav-button {
		padding: 3.4em 7.5em 1em 7.5em;
	}
	main {
		.faq {
			p {
				font-size: 1.2rem;
			}
			.ftext {
				font-size: 1.8rem;
				margin-top: 8em;
				margin-right: 1em;
			}
			.qtext {
				font-size: 2.7rem;
				margin-top: 2.5em;
			}
			.ttext {
				font-size: 5rem;
				margin-top: 0.5em;
			}
			.book {
				.pages {
					width: 34rem;
					height: 30rem;
				}
				.page {
					width: 17rem;
					height: 30rem;
				}
			}
		}
	}
}

@media (min-width: 411px) {
	nav .navbar-toggler {
		margin-right: 2.2em;
	}
	nav .navbar-toggler-icon {
		width: 40px;
		height: 40px;
	}
	nav .nav-button {
		padding: 3.4em 8.5em 1em 8.5em;
	}
	main {
		.faq {
			p {
				font-size: 1.45rem;
			}
			.ftext {
				font-size: 2rem;
				margin-top: 10.5em;
				margin-right: 1em;
			}
			.qtext {
				font-size: 2.9rem;
				margin-top: 2.5em;
			}
			.ttext {
				font-size: 6rem;
				margin-top: 0.5em;
			}
			.book {
				.pages {
					width: 39rem;
					height: 40rem;
				}
				.page {
					width: 19.5rem;
					height: 40rem;
				}
			}
		}
	}
}

@media (min-width: 540px) {
	nav .navbar-toggler {
		margin-right: 5em;
	}
	nav .navbar-toggler-icon {
		width: 45px;
		height: 45px;
	}
	nav .nav-button {
		padding: 3.4em 11.5em 1em 11.5em;
	}
	main {
		.faq {
			p {
				font-size: 1.6rem;
			}
			.ftext {
				font-size: 2rem;
				margin-top: 10.5em;
				margin-right: 1em;
			}
			.qtext {
				font-size: 3.2rem;
				margin-top: 2.5em;
			}
			.ttext {
				font-size: 6rem;
				margin-top: 0.5em;
			}
			.book {
				.pages {
					width: 50rem;
					height: 40rem;
				}
				.page {
					width: 25rem;
					height: 40rem;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	nav .navbar-toggler {
		margin-right: 5em;
	}
	nav .navbar-toggler-icon {
		width: 52px;
		height: 52px;
	}
	main .login {
		background-image: url("../img/loginbackground.jpg");
	}
	main .register {
		background-image: url("../img/registermediumbackground.png");
	}
	main .form .form-container {
		padding: 50px 50px 30px 50px;
	}
	main .form .form-title {
		padding-bottom: 20px;
	}
	main .form .form-element {
		width: 350px;
	}
	main {
		.faq {
			p {
				font-size: 2.5rem;
			}
			.m {
				margin-top: 18rem;
			}
			.ftext {
				font-size: 3rem;
				margin-top: 13.5em;
				margin-right: 1em;
			}
			.qtext {
				font-size: 5rem;
				margin-top: 1.7em;
			}
			.ttext {
				font-size: 9.5rem;
				margin-top: 0.5em;
			}
			.book {
				.pages {
					width: 70rem;
					height: 70rem;
				}
				.page {
					width: 35rem;
					height: 70rem;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	nav .navbar-toggler {
		margin-right: 5em;
	}
	nav .navbar-toggler-icon {
		width: 55px;
		height: 55px;
	}
}

@media (min-width: 1200px) {
	nav .nav-button {
		font-size: 2.2rem;
		padding: 2.5em 5em 0.7em 5em;
	}
	nav .nav-item-profile {
		padding-top: 0.6em;
		margin: 0em 5em 0em 5em;
	}
	nav .nav-img {
		margin: 0;
	}
	nav .nav-item {
		font-size: 1.6rem;
	}
	main .register {
		background-image: url("../img/registerlargebackground.png");
	}
	main {
		.faq {
			p {
				font-size: 2.6rem;
			}
			.m {
				margin-top: 18rem;
			}
			.ftext {
				font-size: 4rem;
				margin-top: 9em;
				margin-right: 1em;
			}
			.qtext {
				font-size: 6rem;
				margin-top: 1.7em;
			}
			.ttext {
				font-size: 12rem;
				margin-top: 0.3em;
			}
			.book {
				.pages {
					width: 100rem;
					height: 70rem;
				}
				.page {
					width: 50rem;
					height: 70rem;
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	nav .nav-item-profile {
		padding-top: 0.6em;
		margin: 0em 5em 0em 9.5em;
	}
}

@media (min-width: 1500px) {
	nav .nav-item-profile {
		padding-top: 0.6em;
		margin: 0em 5em 0em 13em;
	}
}

@media (min-width: 1800px) {
	nav .nav-item-profile {
		padding-top: 0.6em;
		margin: 0em 5em 0em 21em;
	}
}
