$nav-main-color: #000000;
$nav-secondary-color: #ffffff;

$footer-main-color: #000000;
$footer-secondary-color: #ffffff;

$text-color: #ffffff;
$text-hover-color: #909090;
$text-alt-color: #000000;

$main-color: #000000;
$secondary-color: #ffffff;
// $tertiary-color: #4f758c;
